html,
body {
  background-color: transparent;
}

code[class*='language-'],
pre[class*='language-'] {
  color: white;
  text-shadow: none;
}

.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.storybook-table {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  row-gap: 8px;
  align-items: center;
  width: fit-content;
  .header {
    font-weight: bold;
  }
}

.custom-icon-colors {
  [stroke].icon-dark {
    stroke: blue;
  }
  [fill].icon-light {
    fill: lightblue;
  }
}
