---
import DocMenu from '@cypress-design/vue-docmenu'

const items = [
  { label: 'Page', href: '/page' },
  {
    label: 'Overview',
    items: [
      { label: 'Overview Item 1', href: '/item1' },
      { label: 'Overview Item 2', href: '/item2' },
    ],
  },
]
---

<div class="demo-wrapper p-6 bg-gray-50 border border-gray-100 rounded-lg my-6">
  <DocMenu client:only="vue" activePath="/item1" items={items} />
</div>
