---
import { CypressMark, CypressLockUp, CypressWatermark } from '@cypress-design/vue-logo'
---

<!-- Mark variants -->
<div class="flex items-center justify-center gap-8 mb-6">
  <div class="p-4">
    <CypressMark client:only="vue" class="w-[48px] h-[48px] text-gray-500" />
  </div>
  <div class="p-4">
    <CypressMark client:only="vue" class="w-[48px] h-[48px]" variant="color-dark" />
  </div>
  <div class="p-4 rounded bg-gray-1000">
    <CypressMark client:only="vue" class="w-[48px] h-[48px]" variant="color-white" />
  </div>
  <div class="p-4 rounded bg-gray-1000">
    <CypressWatermark client:only="vue" class="w-[48px] h-[48px]" />
  </div>
  <div class="p-4">
    <CypressWatermark client:only="vue" class="w-[48px] h-[48px]" dark />
  </div>
</div>

<!-- LockUp variants -->
<div class="flex items-center justify-center gap-8">
  <div class="p-4">
    <CypressLockUp client:only="vue" class="w-[119px] h-[48px]" />
  </div>
  <div class="p-4 rounded bg-gray-1000">
    <CypressLockUp client:only="vue" class="w-[119px] h-[48px]" variant="white" />
  </div>
  <div class="p-4">
    <CypressLockUp client:only="vue" class="w-[119px] h-[48px]" variant="color-dark" />
  </div>
  <div class="p-4 rounded bg-gray-1000">
    <CypressLockUp client:only="vue" class="w-[119px] h-[48px]" variant="color-white" />
  </div>
</div>
