---
import Spinner from '@cypress-design/vue-spinner'
---

<div class="bg-gray-50 p-6 mb-4">
  <Spinner client:only="vue" />
</div>
<div class="bg-gray-1000 p-6">
  <Spinner client:only="vue" variant="dark" />
</div>
