.markdown {
  [class*='language-'] {
    @apply bg-gray-1000 dark:bg-gray-900 md:rounded-lg my-4 relative py-4 overflow-x-auto max-w-[calc(100vw_-_48px)] md:max-w-none;
    pre,
    code {
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      tab-size: 4;
      hyphens: none;
    }

    pre {
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 0;
      background: transparent;
    }

    code {
      display: block;
      padding: 0 24px;
      width: fit-content;
      min-width: 100%;
      transition: color 0.5s;
    }
    & > span.lang {
      position: absolute;
      top: 2px;
      right: 8px;
      z-index: 2;
      font-size: 12px;
      font-weight: 500;
      transition: color 0.4s, opacity 0.4s;
    }
    & > button.copy {
      @apply right-2 top-2 absolute z-10 bg-gray-800 text-gray-100 h-10 px-4 rounded hidden;
      &:before {
        content: '📋 copy';
        @apply whitespace-nowrap;
      }
    }
    & > button.copy.copied {
      @apply transition transition-opacity duration-2000 ease-in-out opacity-0;
      &:before {
        content: '✅ copied';
        @apply whitespace-nowrap;
      }
    }
    &:hover > button.copy,
    & > button.copy.copied {
      @apply block;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins';
    @apply font-semibold mb-2;
    .header-anchor {
      @apply hidden;
    }
    &:hover .header-anchor {
      @apply inline-block;
    }
  }

  h1 {
    @apply mb-8 text-3xl;
  }

  h2 {
    @apply mt-8 text-2xl;
  }

  h3 {
    @apply mt-8 text-xl;
  }

  h4 {
    @apply mt-6 text-lg;
  }

  h5 {
    @apply mt-4 text-lg;
  }

  .header-anchor:after {
    content: '#';
  }

  ul {
    padding: 8px 0 8px 24px;
    @apply list-disc;
    li {
      &::marker {
        @apply text-indigo-500;
      }
      @apply text-initial;
    }
  }

  .vue-live,
  .demo-wrapper {
    ul {
      padding: unset;
    }
  }

  blockquote {
    @apply bg-gray-50 dark:bg-gray-900 py-[8px] px-[16px] border-l-[2px] border-l-gray-[4px] my-4 relative;
  }

  code {
    @apply bg-gray-100 dark:bg-gray-900 px-[8px] py-[2px] rounded;
  }
  pre > code {
    @apply bg-transparent;
  }

  a {
    @apply text-indigo-500 dark:text-indigo-300;
    &:hover {
      @apply underline;
    }
  }

  .vue-live,
  .demo-wrapper {
    a {
      color: unset;
      &:hover {
        text-decoration: unset;
      }
    }
  }
}
