.markdown {
  div[class*='language-'] {
    @apply bg-gray-1000 dark:bg-gray-900 rounded-lg my-4 relative py-4;
    pre {
      @apply overflow-auto;
    }
    code {
      @apply px-6 min-w-full block;
    }
    .lang {
      @apply text-gray-400 right-4 top-2 absolute;
    }
    & > button.copy {
      @apply right-2 top-2 absolute z-10 bg-gray-800 text-gray-100 h-[44px] px-[16px] rounded hidden;
      &:before {
        content: '📋 copy';
        @apply whitespace-nowrap;
      }
    }
    & > button.copy.copied {
      @apply transition transition-opacity duration-2000 ease-in-out opacity-0;
      &:before {
        content: '✅ copied';
        @apply whitespace-nowrap;
      }
    }
    &:hover > button.copy,
    & > button.copy.copied {
      @apply block;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins';
    @apply font-semibold mb-2;
    .header-anchor {
      @apply hidden;
    }
    &:hover .header-anchor {
      @apply inline-block;
    }
  }

  h1 {
    @apply mb-8 text-3xl;
  }

  h2 {
    @apply mt-8 text-2xl;
  }

  h3 {
    @apply mt-8 text-xl;
  }

  h4 {
    @apply mt-6 text-lg;
  }

  h5 {
    @apply mt-4 text-lg;
  }

  .header-anchor:after {
    content: '#';
  }

  ul {
    padding: 8px 0 8px 24px;
    @apply list-disc;
    li {
      &::marker {
        @apply text-indigo-500;
      }
      @apply text-initial;
    }
  }

  blockquote {
    @apply bg-gray-50 dark:bg-gray-900 py-[8px] px-[16px] border-l-[2px] border-l-gray-[4px] my-4 relative;
  }

  code {
    @apply bg-gray-100 dark:bg-gray-900 px-[8px] py-[2px] rounded;
  }
  pre > code {
    @apply bg-transparent;
  }

  a {
    @apply text-indigo-500 dark:text-indigo-300;
    &:hover {
      @apply underline;
    }
  }
}
