@import '@frontend/design-system/src/styles/_variables';

.container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.icon {
    margin-right: 0.5rem;
}

.label {
    margin-right: 1rem;
}

.copyTextHolder {
    width: auto;
    display: flex;
    align-items: center;
}

.copyText {
    font-family: $font-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 8px;
}

.copyButtonHolder {
    margin: 3px;
}

.copyButton {
    background-color: $indigo-50;
    color: $indigo-500;
    height: 32px;
    display: flex;
    align-items: center;
    // TODO: What do we want the hover logic to look like? Figma mocks don't appear to demonstrate this
    &:hover,
    &:focus,
    &:active {
        outline: none !important;
        background-color: $indigo-50 !important;
        color: $indigo-500 !important;
    }
    div {
        margin-left: 0.5rem;
    }
}
