.section-heading {
  margin: 0;
  padding: 8px 16px;
  border-top: 1px solid $gray-200;
  background: $gray-50;
  border-bottom: 1px solid $gray-200;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 10px;
  text-shadow: 0 1px 0 white;
  color: $gray-900;
  position: relative;
  .beta-badge {
    position: absolute;
    top: 4px;
    font-size: 1.1em;
  }
}
