.alert {
  border-radius: 5px;
  border: 0;

  &>ul {
    padding-left: 20px;
  }

  h2 {
    text-align: center;
    margin-top: 15px;

  }

  &.error p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
  }

  i {
      margin-right: 5px;
  }
}