.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  min-height: 48px;
  z-index: 1;

  .app--banners & {
    padding: 8px 24px;
  }

  & + .banner {
    border-top: 1px solid $gray-300;
  }

  &.banner-default {
    background-color: $gray-600;
    color: white;
    text-shadow: 0 1px 0 $gray-700;
  }

  &.banner-info {
    background-color: $indigo-500;
    color: white;
    text-shadow: 0 1px 0 $indigo-700;
  }

  &.banner-info-alt {
    background-color: $orange-50;
    color: $orange-800;
  }

  &.banner-success {
    background-color: $jade-400;
    color: white;
    text-shadow: 0 1px 0 $jade-600;
  }

  &.banner-warning {
    background-color: $orange-400;
    color: white;
    text-shadow: 0 1px 0 $orange-600;
  }

  &.banner-danger {
    background-color: $red-600;
    color: white;
    text-shadow: 0 1px 0 $red-800;
    border-bottom: 0;
  }

  a:not(.btn-outline),
  .btn-link {
    color: white;
    text-decoration: underline;
  }
}
