i.fa {
  &.has-label {
    margin-right: 2px;
  }
}

.back-icon {
  display: inline-block;
  height: 28px;
  line-height: 28px;

  a {
    padding-left: 8px;
    padding-right: 16px;
    color: $gray-300;
    user-select: none;
    font-size: 0.85em;
    &:hover {
      color: $indigo-500;
    }
  }
}

.browser-icon-img {
  margin-right: 4px;
  margin-bottom: 3px;
  height: 16px;
  width: 16px;
}
