.select__menu {
  box-shadow: none !important;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  .select__menu-notice--no-options {
    padding: 8px;
  }
  .select__option {
    padding: 8px;
    .filter__checkbox {
      margin-right: 8px;
    }
  }
}
