// to use:
// import { palette } from '@frontend/design-system'
// see "Colors" in Storybook for more info

@import './variables';
@import './react-bootstrap-overrides';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

:export {
  gray50: $gray-50;
  gray100: $gray-100;
  gray200: $gray-200;
  gray300: $gray-300;
  gray400: $gray-400;
  gray500: $gray-500;
  gray600: $gray-600;
  gray700: $gray-700;
  gray800: $gray-800;
  gray900: $gray-900;
  gray1000: $gray-1000;
  grayA1: $gray-A1;
  grayA2: $gray-A2;

  red50: $red-50;
  red100: $red-100;
  red200: $red-200;
  red300: $red-300;
  red400: $red-400;
  red500: $red-500;
  red600: $red-600;
  red700: $red-700;
  red800: $red-800;
  red900: $red-900;
  red1000: $red-1000;

  orange50: $orange-50;
  orange100: $orange-100;
  orange200: $orange-200;
  orange300: $orange-300;
  orange400: $orange-400;
  orange500: $orange-500;
  orange600: $orange-600;
  orange700: $orange-700;
  orange800: $orange-800;
  orange900: $orange-900;
  orange1000: $orange-1000;

  jade50: $jade-50;
  jade100: $jade-100;
  jade200: $jade-200;
  jade300: $jade-300;
  jade400: $jade-400;
  jade500: $jade-500;
  jade600: $jade-600;
  jade700: $jade-700;
  jade800: $jade-800;
  jade900: $jade-900;
  jade1000: $jade-1000;

  indigo50: $indigo-50;
  indigo100: $indigo-100;
  indigo200: $indigo-200;
  indigo300: $indigo-300;
  indigo400: $indigo-400;
  indigo500: $indigo-500;
  indigo600: $indigo-600;
  indigo700: $indigo-700;
  indigo800: $indigo-800;
  indigo900: $indigo-900;
  indigo1000: $indigo-1000;

  purple50: $purple-50;
  purple100: $purple-100;
  purple200: $purple-200;
  purple300: $purple-300;
  purple400: $purple-400;
  purple500: $purple-500;
  purple600: $purple-600;
  purple700: $purple-700;
  purple800: $purple-800;
  purple900: $purple-900;
  purple1000: $purple-1000;

  teal50: $teal-50;
  teal100: $teal-100;
  teal200: $teal-200;
  teal300: $teal-300;
  teal400: $teal-400;
  teal500: $teal-500;
  teal600: $teal-600;
  teal700: $teal-700;
  teal800: $teal-800;
  teal900: $teal-900;
  teal1000: $teal-1000;

  fuchsia50: $fuchsia-50;
  fuchsia100: $fuchsia-100;
  fuchsia200: $fuchsia-200;
  fuchsia300: $fuchsia-300;
  fuchsia400: $fuchsia-400;
  fuchsia500: $fuchsia-500;
  fuchsia600: $fuchsia-600;
  fuchsia700: $fuchsia-700;
  fuchsia800: $fuchsia-800;
  fuchsia900: $fuchsia-900;
  fuchsia1000: $fuchsia-1000;

  yellow50: $yellow-50;
  yellow100: $yellow-100;
  yellow200: $yellow-200;
  yellow300: $yellow-300;
  yellow400: $yellow-400;
  yellow500: $yellow-500;
  yellow600: $yellow-600;
  yellow700: $yellow-700;
  yellow800: $yellow-800;
  yellow900: $yellow-900;
  yellow1000: $yellow-1000;

  green50: $green-50;
  green100: $green-100;
  green200: $green-200;
  green300: $green-300;
  green400: $green-400;
  green500: $green-500;
  green600: $green-600;
  green700: $green-700;
  green800: $green-800;
  green900: $green-900;
  green1000: $green-1000;

  magenta50: $magenta-50;
  magenta100: $magenta-100;
  magenta200: $magenta-200;
  magenta300: $magenta-300;
  magenta400: $magenta-400;
  magenta500: $magenta-500;
  magenta600: $magenta-600;
  magenta700: $magenta-700;
  magenta800: $magenta-800;
  magenta900: $magenta-900;
  magenta1000: $magenta-1000;

  fontSans: $font-sans;

  screenXs: $screen-xs-min;
  screenSm: $screen-sm-min;
  screenMd: $screen-md-min;
  screenLg: $screen-lg-min;
}
