.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
  line-height: 23px;
  color: $gray-700;
  span {
    max-width: 550px;
  }
}

.chart-empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  min-height: 300px;
  margin: 0 auto;

  img {
    height: 250px;
    margin: 20px;
    max-width: 100%;
  }
}

.filter-empty-state {
  padding: 24px;
  min-width: 200px;
  color: $gray-800;
  .learn-more {
    margin-top: 16px;
    a {
      &:after {
        border-bottom: none !important;
      }
    }
  }
}

.text-empty-state {
  font-weight: normal;
  font-style: italic;
}

.panel-empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  width: 100%;
  margin: 0 auto;

  img {
    height: 36px;
    margin: 8px;
    max-width: 100%;
  }

  &__title {
    font-family: $font-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $gray-900;
    margin: 8px;
  }

  &__subtitle {
    font-family: $font-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: $gray-700;
    margin: 8px;
  }

  &__cta {
    margin: 8px;
    a,
    button {
      margin: 0 8px 0 0;
    }
  }
}

.panel-empty-state-without-shadow {
  box-shadow: none;
}
