name: E2E Tests

on:
  workflow_call:
    inputs:
      nonce:
        type: string
        required: true

jobs:
  test-react-app-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Get Node version
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT

      - name: Restore cached build files
        id: cache-node-modules-dist
        uses: actions/cache@v4
        with:
          key: cache-${{ inputs.nonce }}-${{ steps.node-version.outputs.version }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules

      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      - name: Install Cypress
        run: yarn cypress install

      - name: Run E2E Tests - React App (Dev Mode)
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: yarn --cwd test/react-app dev
          wait-on: 'http://localhost:5173'
          browser: chrome
          record: true
          group: 'E2E Tests - React Dev'
          ci-build-id: ${{ github.run_id }}-${{ github.run_attempt }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

  test-react-app-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Get Node version
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT

      - name: Restore cached build files
        id: cache-node-modules-dist
        uses: actions/cache@v4
        with:
          key: cache-${{ inputs.nonce }}-${{ steps.node-version.outputs.version }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules

      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      - name: Install Cypress
        run: yarn cypress install

      - name: Build React App
        run: yarn --cwd test/react-app build

      - name: Run E2E Tests - React App (Build Mode)
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: yarn --cwd test/react-app preview --port=5173
          wait-on: 'http://localhost:5173'
          browser: chrome
          record: true
          group: 'E2E Tests - React Build'
          ci-build-id: ${{ github.run_id }}-${{ github.run_attempt }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

  test-vue-app-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Get Node version
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT

      - name: Restore cached build files
        id: cache-node-modules-dist
        uses: actions/cache@v4
        with:
          key: cache-${{ inputs.nonce }}-${{ steps.node-version.outputs.version }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules

      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      - name: Install Cypress
        run: yarn cypress install

      - name: Run E2E Tests - Vue App (Dev Mode)
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: yarn --cwd test/vue-app dev
          wait-on: 'http://localhost:5173'
          browser: chrome
          record: true
          group: 'E2E Tests - Vue Dev'
          ci-build-id: ${{ github.run_id }}-${{ github.run_attempt }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

  test-vue-app-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Get Node version
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT

      - name: Restore cached build files
        id: cache-node-modules-dist
        uses: actions/cache@v4
        with:
          key: cache-${{ inputs.nonce }}-${{ steps.node-version.outputs.version }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules

      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile
        env:
          CI: true
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Install Cypress
        run: yarn cypress install

      - name: Build Vue App
        run: yarn --cwd test/vue-app build

      - name: Run E2E Tests - Vue App (Build Mode)
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: yarn --cwd test/vue-app preview --port=5173
          wait-on: 'http://localhost:5173'
          browser: chrome
          record: true
          group: 'E2E Tests - Vue Build'
          ci-build-id: ${{ github.run_id }}-${{ github.run_attempt }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
