name: Template Tests

# This workflow is used to test the template for a new component
# It is used to ensure that the template is working correctly and that the component can be built and tested
# It is also used to ensure that the component can be built and tested with the latest version of the dependencies

on:
  workflow_call:
    inputs:
      nonce:
        type: string
        required: true

jobs:
  template-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Get Node version
        id: node-version
        run: echo "version=$(node -v)" >> $GITHUB_OUTPUT

      - name: Restore cached build files
        id: cache-node-modules-dist
        uses: actions/cache@v4
        with:
          key: cache-${{ inputs.nonce }}-${{ steps.node-version.outputs.version }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules
            
      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile
        env:
          CI: true
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Remove Postinstall Script
        run: |
          npm pkg delete scripts.postinstall
          echo "Postinstall script removed"

      - name: Create component with template
        run: yarn new:component --name ComponentName

      - name: Re-link Dependencies
        run: yarn install --frozen-lockfile
        env:
          CI: true

      - name: Build Component for Vue
        run: yarn turbo run build --filter=@cypress-design/vue-componentname...

      - name: Build Component for React
        run: yarn turbo run build --filter=@cypress-design/react-componentname...

      - name: Lint all files
        run: yarn eslint .

      - name: Install Cypress
        run: yarn cypress install

      # run cypress component tests
      - name: Cypress run CT
        uses: cypress-io/github-action@v6
        with:
          install: false
          component: true
          record: true
          browser: chrome
          spec: components/ComponentName/**/*
          group: 'Template'
          ci-build-id: ${{ github.run_id }}
        env:
          # Recommended: pass the GitHub token lets this action correctly
          # determine the unique run id necessary to re-run the checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
