name: Unit and Component Tests

on:
  workflow_call:
    inputs:
      nonce:
        type: string
        required: true

jobs:
  all-other-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup Yarn
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Restore cached build files
        uses: actions/cache@v4
        with:
          key: ${{ inputs.nonce }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules

      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile
        env:
          CI: true
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Install eslint plugin dependencies
        run: |
          yarn workspace @cypress-design/eslint-plugin install --frozen-lockfile

      - name: Lint all files
        run: yarn eslint .

      - name: Run Eslint Plugin Tests
        run: yarn test:eslint-plugin

      - name: Generate icon files
        run: |
          yarn turbo run build --filter=@cypress-design/css
          yarn workspace @cypress-design/icon-registry build

      - name: Run Unit Tests
        run: yarn test

      - name: Types docs
        run: yarn vue-tsc --noEmit -p .

      - name: Types Vue
        run: yarn vue-tsc --noEmit --project ./tsconfig.vue.json

      - name: Types React
        run: yarn tsc --noEmit --project ./tsconfig.react.json

  component:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        container: [1, 2, 3]
    steps:
      - uses: browser-actions/setup-chrome@latest
      - run: echo "BROWSER_PATH=$(which chrome)" >> $GITHUB_ENV

      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Restore cached build files
        id: cache-node-modules-dist
        uses: actions/cache@v4
        with:
          key: cache-${{ inputs.nonce }}
          path: |
            ./css/dist
            ./icon-registry/dist
            ./components
            ./packages/details-animation/dist
            ./node_modules
            
      - name: Reinstall dependencies and regenerate build files
        if: steps.cache-node-modules-dist.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      - name: Install Cypress
        run: yarn cypress install

      - name: Cypress run CT
        uses: cypress-io/github-action@v6
        with:
          install: false
          component: true
          record: true
          browser: '${{ env.BROWSER_PATH }}'
          command-prefix: 'yarn percy exec --parallel -- '
          parallel: true
          group: 'Component'
          ci-build-id: ${{ github.run_id }}-${{ github.run_attempt }}
        env:
          # Recommended: pass the GitHub token lets this action correctly
          # determine the unique run id necessary to re-run the checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
